.header {
    margin: 20px 30px;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul {
        list-style-type: none;
        li {
            display: inline;
            margin-right: 10px;
        }
        li:hover {
            cursor: pointer;
            text-decoration : underline 2px purple;
        }
    }
}