.faContainer{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.tooltipenvelope{
    position: absolute;
    top: 50%;
    left: 0;    
}
.tooltipgit{
    position: absolute;
    top: 50%;
    left: 50%;    
}
.tooltiplink{
    position: absolute;
    top: 50%;
    left: 100%;    
}
.icon {
    position: absolute;
    left: 0;
}
.active {
    position: absolute;
    
}